/* app/components/WizHeader.module.css */

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #000;
  border-bottom: 1px solid #1f1f1f;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 4px;
  height: 45px;
  width: auto;
}